/* Global */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-size: 12px;
    padding-left: 15px;
}

.fa-star {
    font-size: 8px;
    color: #0065fc;
}

.star-grey {
    color: #B1B1B1;
}

/* Navigation */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.navigation-logo {
    padding-left: 10px;
}

.navigation-logo img {
    width: 40%;
    height: auto;
}

.navigation ul {
    display: flex;
    flex-direction: row;
}

.navigation-link {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 44px;
    margin-right: 30px;
    font-size: 12px;
}

.navigation-link:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/* Recherche */

.search-title h1 {
    font-size: 15px;
    padding-bottom: 10px;
}

.search-title p {
    font-size: 11px;
    padding-bottom: 12px;
}

.search-interface {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}

.search-interface i {
    font-size: 12px;
    min-width: 36px;
    min-height: 36px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px 0 0 11px;
}

.search-interface input {
    border-left: 0;
    border-right: 0;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    width: 18%;
}

.rechercher {
    width: 10%;
    background-color: #0065fc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 11px;
    border-radius: 0 11px 11px 0;
}

.loupe {
    display: none;
}

/* Filtres */

.search-filtres {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-filtres h2 {
    padding-right: 19px;
    padding-left: 5px;
    font-size: 14px;
}

.search-filtres button {
    margin-right: 17px;
    background-color: white;
    border: #f2f2f2 2px solid;
    border-radius: 50px / 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-filtres button i {
    color: #0065fc;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background-color: #deebff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.search-filtres button span {
    padding-left: 11px;
    padding-right: 19px;
    font-weight: bold;
    font-size: 11px;
}

/* Infos */

.infos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-bottom: 40px;
}

.infos i {
    min-height: 21px;
    min-width: 21px;
    font-size: 11px;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0065fc;
}

.infos p {
    padding-left: 10px;
    font-size: 11px;
}

/*Footer */

footer {
    background-color: #f2f2f2;
    display: flex;
}

.footer-item {
    margin-right: 6%;
    margin-left: 6%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.footer-item h3 {
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 20px;
}

.footer-item li {
    padding-top: 10px;
    font-size: 20px;
}

/* All-hotels */

.all-hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Hosting */

.hosting {
    flex-basis: 66.5%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.hosting h2 {
    font-size: 15px;
    padding: 30px 0 30px 30px;
}

.hosting-cards {
    display: flex;
    flex-direction: column;
}

.hosting-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.hosting-line a {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    box-shadow: 0 0 5px #B1B1B1;
}

.hosting-line a img {
    height: 89px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.hosting-cards-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0 11px 11px;
}

.hosting-cards-contents h3 {
    font-size: 11px;
}

.hosting-cards-contents p {
    font-size: 11px;
}

.afficher-plus {
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: 40px;
}

/* Famous */

.famous {
    flex-basis: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.famous-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 30px 30px 30px 30px;
}

.famous-title h2 {
    font-size: 15px;
}

.famous-cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.famous-cards a {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 5px #B1B1B1;
    margin-bottom: 40px;
}

.famous-cards a img {
    height: 100px;
    width: 112px;
    max-width: 44%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.famous-card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 11px 11px;
    min-height: 100px;
}

.famous-card-header h3 {
    font-size: 11px;
}

.famous-card-header p {
    font-size: 11px;
}

/* Iphone 8 écran */

@media screen and (min-width: 375px) and (max-width: 767px) {
    .navigation {
        flex-direction: column;
        align-items: unset;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .navigation-logo {
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }
    .navigation-logo img {
        width: 30%;
    }
    .navigation-link {
        padding-bottom: 10px;
        margin: unset;
    }
    .navigation-link:hover {
        color: #0065fc;
        border-bottom: 2px solid #0065fc;
        border-top: unset;
    }
    .navigation ul {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .rechercher {
        display: none;
    }
    .loupe {}
    .container {
        margin: unset;
    }
    .famous {
        border-radius: unset;
    }
    .all-hotels {
        flex-direction: column;
    }
    .hosting {
        order: 1;
        border-radius: unset;
        background-color: white;
    }
    .hosting-line {
        flex-direction: column;
        padding-bottom: unset;
    }
    .hosting-line a {
        width: 100%;
        margin-bottom: 10px;
    }
    .afficher-plus {
        font-size: 18px;
        background-color: white;
        margin: 0 0 0 0;
    }
    footer {
        flex-direction: column;
    }
}