/* Global */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

.fa-star {
    font-size: 14px;
    color: #0065fc;
}

.star-grey {
    color: #B1B1B1;
}

/* Navigation */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation-logo img {
    padding-left: 16px;
    width: 60%;
    height: auto;
}

.navigation ul {
    display: flex;
    flex-direction: row;
}

.navigation-link {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 44px;
    margin-right: 30px;
    font-size: 20px;
}

.navigation-link:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/* Recherche */

.search-title h1 {
    font-size: 25px;
    padding-bottom: 10px;
}

.search-title p {
    font-size: 18.5px;
    padding-bottom: 20px;
}

.search-interface {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 37px;
}

.search-interface i {
    font-size: 20px;
    min-width: 60px;
    min-height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

.search-interface input {
    border-left: 0;
    border-right: 0;
    border-top: #f2f2f2 2px solid;
    border-bottom: #f2f2f2 2px solid;
    width: 269px;
    padding-top: 8px;
}

.search-interface button {
    width: 150px;
    background-color: #0065fc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
}

/* Filtres */

.search-filtres {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-filtres h2 {
    padding-right: 40px;
    padding-left: 10px;
    font-size: 20px;
}

.search-filtres button {
    margin-right: 30px;
    background-color: white;
    border: #f2f2f2 2px solid;
    border-radius: 50px / 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-filtres button i {
    color: #0065fc;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: #deebff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.search-filtres button span {
    padding-left: 15px;
    padding-right: 27px;
    font-weight: bold;
    font-size: 20px;
}

/* Infos */

.infos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-bottom: 40px;
}

.infos i {
    min-height: 30px;
    min-width: 30px;
    border: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0065fc;
}

.infos p {
    padding-left: 10px;
}

/*Footer */

footer {
    background-color: #f2f2f2;
    display: flex;
}

.footer-item {
    margin-right: 6%;
    margin-left: 6%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.footer-item h3 {
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 20px;
}

.footer-item li {
    padding-top: 10px;
    font-size: 20px;
}

/* All-hotels */

.all-hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Hosting */

.hosting {
    flex-basis: 65%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.hosting h2 {
    font-size: 20px;
    padding: 40px 0 30px 48px;
}

.hosting-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hosting-cards a {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 5px #B1B1B1;
    min-height: 100%;
    flex-basis: 300px;
    margin-bottom: 40px;
}

.hosting-cards a img {
    height: 130px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.hosting-cards-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0 11px 11px;
    min-height: 100px;
}

.afficher-plus {
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 45px 57px;
}

/* Famous */

.famous {
    flex-basis: 32%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.famous-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 20px;
}

.famous-title h2 {
    font-size: 20px;
}

.famous-cards a {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 5px #B1B1B1;
    min-height: 100%;
    flex-basis: 300px;
    margin-bottom: 40px;
}

.famous-cards a img {
    height: 120px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.famous-card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 11px 11px;
    min-height: 100px;
}